<div class="welcome-page">
    <mat-card class="welcome-card">
        <mat-card-header class="welcome-card-header">
            <mat-card-title class="Nanum">list[a]peli</mat-card-title>
        </mat-card-header>
        <mat-card-actions class="welcome-card-actions">
            <button mat-raised-button (click)="openUserRegistrationDialog()" color="basic">not
                yet?</button>
            <button mat-raised-button (click)="openUserLoginDialog()" color="primary">member</button>
        </mat-card-actions>
    </mat-card>
</div>